Description: Enables verbosity and plots
Author: Christian Schulte <cs@schulte.it>
Last-Update: 2026-08-27

--- abagnale-0.9699.orig/abagnale.service
+++ abagnale-0.9699/abagnale.service
@@ -5,7 +5,7 @@ Description=Abagnale Algorithmic Trading
 After=postgresql.service
 
 [Service]
-ExecStart=/usr/bin/abagnale
+ExecStart=/usr/bin/abagnale -v -p ${STATE_DIRECTORY}/plots
 Restart=always
 RestartSec=300
 User=abagnale
