[Unit]
Description=Abagnale Algorithmic Trading System Daily Maintenance Timer

[Timer]
OnCalendar=daily
Persistent=false

[Install]
WantedBy=timers.target
