[Unit]
Description=Abagnale Algorithmic Trading System Publishing

[Service]
Type=oneshot
User=abagnale
Group=abagnale
UMask=0022
Environment=LC_CTYPE=C.UTF-8
CacheDirectory=abagnale
CacheDirectoryMode=0755
ExecStart=/usr/libexec/abagnale/abagnalectl.publish
