[Unit]
Description=Abagnale Algorithmic Trading System Database Maintenance
After=postgresql.service
Requires=postgresql.service

[Service]
Environment=LC_CTYPE=C.UTF-8
ExecStart=/usr/libexec/abagnale/abagnalectl.dump
Type=oneshot
UMask=0027
#Environment=PGPASSFILE=/etc/abagnale/abagnale.pgpass
#Environment=PGSERVICEFILE=/etc/abagnale/abagnale.pgservice
