[Unit]
Description=Abagnale Algorithmic Trading System Database Maintenance Timer

[Timer]
OnCalendar=daily
DeferReactivation=true

[Install]
WantedBy=timers.target
